@model ControlBodega.Models.Devolucion
@{
    ViewData["Title"] = "Detalles de Devolución";
}
<h1 class="mb-4">Detalles de Devolución</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.IdDevolucion</dd>
        <dt class="col-sm-2">ID Egreso</dt>
        <dd class="col-sm-10">@Model.IdEgreso</dd>
        <dt class="col-sm-2">Producto</dt>
        <dd class="col-sm-10">@Model.Producto</dd>
        <dt class="col-sm-2">Planta</dt>
        <dd class="col-sm-10">@Model.Planta?.NPlanta</dd>
        <dt class="col-sm-2">Cantidad</dt>
        <dd class="col-sm-10">@Model.Cantidad</dd>
        <dt class="col-sm-2">Fecha Devolución</dt>
        <dd class="col-sm-10">@Model.FechaDevolucion.ToShortDateString()</dd>
        <dt class="col-sm-2">Motivo</dt>
        <dd class="col-sm-10">@Model.Motivo</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.IdDevolucion" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
